<head>
  <meta charset="utf-8">
  <title>Noted</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css" media="screen" title="bootstrap" charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/css/stylesheet.css" media="screen" charset="utf-8">
</head>
